::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	background-color: #a0a0a0;
	outline: 0px solid #909090;
	border-radius: 1rem;
}


.c_mb_0 {
	margin-bottom: 0.0rem !important;
}

.c_mb_1 {
	margin-bottom: 0.1rem !important;
}

.c_mb_2 {
	margin-bottom: 0.2rem !important;
}

.c_mb_3 {
	margin-bottom: 0.3rem !important;
}

.c_mb_4 {
	margin-bottom: 0.4rem !important;
}

.c_mb_5 {
	margin-bottom: 0.5rem !important;
}

.notif_icon_1 {
	font-size: 1.3rem;
	margin-top: 0.2rem;
}

.datatable_paging_1 {
	text-align: left;
}

.datatable_paging_1 .dataTables_paginate, .datatable_paging_1 .paging_simple_numbers {
	text-align: right !important;
}

.datatable_paging_1 .dataTables_paginate .paginate_button {
	background: #fff;
    --tw-shadow: 0 0 #0000;
    border-color: #e5e7eb;
    border-color: rgba(226, 232, 240, 0.8);
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    cursor: pointer;
    border-spacing: 0;
}

.datatable_paging_1 .dataTables_paginate .previous {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}
.datatable_paging_1 .dataTables_paginate .next {
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}
.datatable_paging_1 .dataTables_paginate .current {
	background: #f9f9f9;
}
.datatable_paging_1 .dataTables_paginate .paginate_button {
	min-width: 50px !important;
}

.datatable_col_maxw_1 {
	width: 150px !important;
	max-width: 150px !important;
}
.datatable_col_maxw_2 {
	width: 50px !important;
	max-width: 50px !important;
}
.datatable_col_maxw_3 {
	width: 50px !important;
	max-width: 50px !important;
}

.text_center_1 {
	text-align: center !important;
}
.text_left_1 {
	text-align: left !important;
}
.text_right_1 {
	text-align: right !important;
}

.items_right_1 {
	align-items: flex-end;
}

.pl-0 {
	padding-left: 0px !important;
}
.pr-0 {
	padding-right: 0px !important;
}

.img_icon_1 {
	border: 1px solid #e0e0e0;
	padding: 2px;
}

.img_icon_profile_1 {
	border: 1px solid #f0f0f0;
	padding: 4px;
}

.img_icon_maxw_1 {
	max-width: 40px;
	width: 40px;
}

.fs_a_1 {
	font-size: 1.2rem;
}

.fs_c_1 {
	font-size: 1.2rem;
}

.tbl_action_1 {

}

.count_holder_1 {
	display: inline-block;
}

.count_holder_2 {
	display: inline-block;

}

.profile_edit_holder_1 {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

.position_absolute {
	position: absolute;
}
.my-swal {
    z-index: X;
}

.text {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:99;
    pointer-events: none;

  }
  .loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    animation: loader 10s infinite ease;
  }


  .loading {

	position: fixed ;
	top: 0;
	left:-5px;
	width: 100%;
	height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 99;
    pointer-events: none;
}
.loading-content {
	position: fixed ;
	border: 2px solid #6c6c6c; /* Light grey */
	border-top: 2px solid rgb(47, 47, 47); /* Blue */
	border-radius: 50%;
	width: 23px;
	height: 23px;
	top: 50%;
	left:50%;
	animation: spin 2s linear infinite;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

.cursor-pointer {
	cursor: pointer;
}




.tooltip2 {
  position: absolute;
  z-index: 1080;
  display: block;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}
.tooltip2.show {
  opacity: 0.9;
}
.tooltip2 .tooltip2-arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}
.tooltip2 .tooltip2-arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}
.tooltip2-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}


.tooltipster-sidetip .tooltipster-box {
	background: #303030;
	border: 1px solid #202020;
	border-radius: 6px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: #303030;
	border-width: 0px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
	border-left-color: #303030;
	border-width: 0px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
	border-right-color: #303030;
	border-width: 0px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
	border-top-color: #303030;
	background: none;
	padding: 0px;
	margin: 0px;
}

.tooltipster-sidetip .tooltipster-arrow-border {
	border: 0px solid transparent;
}

.tooltipster-sidetip .tooltipster-content {
	color: #f0f0f0;
	line-height: 18px;
	padding: 6px 14px;
	font-size: 0.75rem;
}


